:root{
  --primary: rgb(45, 50, 72);
  --secondary: rgb(106, 111, 129);
  --background:rgb(25, 162, 174);
  --line: #e7e7e7;
}
.primary{
  color:var(--primary);
}
.secondary{
  color:var(--secondary);
}
.bg-primary{
  background: var(--background);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
}

.container{
  
  width: 100%;
  height: 100vh;
}
.d-flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  width: 28.5%;
  padding-top:22px;
}
.card{
  width: 100%;
  border-radius: 12px;
  background:#fff; 
}
.card-header{
  height: 153px;
  background-image: url(../img/bg-pattern-card.svg) ;
  background-repeat:no-repeat; 
  background-size: cover; 
  background-position: center;
  border-radius: 12px 12px 0 0;

}
.card-body{
  height: 160px;

}
.card-footer{
  height: 98px;
  border-top:1px solid var(--line)

}
.img-profile{
  position: relative;
  border-radius: 50%;
  width: 114px;
  height: 114px;
  border: 4px solid #fff;
  top:75px;
}
.analitics{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none; 
  text-align: center;

}
.analitics-item{
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 25px;
  margin-top: 28px;
  width: 26%;
}
.black{
  font-weight: 700;

}
.personal-info{
  width: 80%;
  text-align: center;
  letter-spacing: .1em;
}
.p-55{
  padding-top: 56px;
  padding-bottom: 10px;
}
.city{
  line-height: 22px;
  font-size: .75rem;
}
.secondary{
  font-size: .75rem;
  font-weight: 400;
}

/* Media querys from bootstrap reference */
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {  
  
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {  
  .main {
     width:80%; 
  }
}
@media (min-width: 767.98px) {  
  .main {
     width:50%; 
  }
}
/* Medium devices (tablets, less than 992px)*/
@media (min-width: 991.98px) {  
  .main {
     width:28.5%; 
  }
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {  }

/* Extra large devices (large desktops)
 * 
 * No media query since the extra-large breakpoint has no upper bound on its width
 */

